$black: #333333;
$white: #ffffff;

$gray-lightest: #fafafa;
$gray-lighter: #eeeeee;
$gray: #999999;
$gray-darker: #666666;

$ic-primary: #0a5a6e;
$azure: #00a8ff;
$turquoise: #0dc9aa;
$bright-aqua: #0deeee;
$toxic-green: #3ad436;
$lime-green: #8aff00;
$sun-yellow: #ffd436;
$yellow: #ffea00;
$pinkish-orange: #ff6036;
$tangerine: #ff9600;
$cocoa: #8e4c40;
$terracota: #d27858;
$dark-periwinkle: #8069dc;
$barbie-pink: #ff4d9b;
$darkish-purple: #580f84;
$charcoal-grey: #373c51;
$slate-grey: #576371;
$toupe: #c8bb8a;
$beige: #f4ebe0;