.titulo {
  font-family: MuseoSlab;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: $black;
}

.botao {
  font-family: MuseoSlab;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: center;
  color: $white;
}

.paragrafo {
  font-family: MuseoSans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.31;
  text-align: left;
  color: $black;
}

.subtitulo {
  font-family: MuseoSlab;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  color: $black;
}

.subtitulo-b {
  font-family: MuseoSlab;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  text-align: left;
  color: $black;
}