@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";
@import "utilities.scss";
@import "material-shadows.scss";

body{
	background-color: $gray-lightest;
	height: 1500px;
}
.BottomNavigation{
	background: $ic-primary;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
	@include z-depth($dp: 8);

	&-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	&-item{
		color: $white;
		display: block;
		font-size: 24px;
		line-height: 56px;
		opacity: 0.54;
		overflow: hidden;
		text-align: center;
		width: 100%;
	}
	&-item.is-active{
		opacity: 1;
	}
}
.AppBar-log{
	display: block;
	width: 40px;
	height: 40px;
	background-image:  
	image-set(
	  url(icon1x.jpg) 1x,
	  url(icon2x.jpg) 2x
	);
}